@media screen and (min-width: 810px) {
	/** css banner wefu*/
	.banner-wefu .carousel-item img {
		height: 680px;
	}
  .carousel-item {
      height: 680px;
  }
  .carousel-caption h5 {
      font-size: 3em;
  }
  .navbar-logo {
  height: 4em;
  padding-left: 2em;
}
.footer-text{
  background-color: var(--text-color-background-white);
  color:var(--text-background-dark);
  font-weight:400;
  font-size:0.8em;
}
.footer .list-menu ul li a{
  color: var(--text-background-dark);
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(255,255,255,.5);
  text-align: center;
}
.footer .list-menu ul{
  display:flex;
  justify-content:space-around;
  align-items: baseline;
}

}
